<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <div class="container-fluid">
    <%#= image_tag('logo', class: "navbar-brand") %>
    <%= link_to 'Shop App', root_path, class: 'navbar-brand', id: 'navbar-logo' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Products', admin_products_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Categories', admin_categories_path, class: 'nav-link' %>
        </li>
        <li class="nav-item custom_add_to_cart">
          <a class="btn btn-success btn-sm ml-3 custom_cart_color" href="<%= carts_url %>">
            <i class="fa fa-shopping-cart"></i> Cart
            <span class="badge badge-light"><%= current_order_items_count%></span>
          </a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
          <% if user_signed_in? && current_user.profile_picture.url.present? %>
            <%= image_tag current_user.profile_picture.url, class: "rounded" %>
          <% else %>
            <%= image_tag('user', class: "rounded") %></a>
          <% end %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to '<i class="fa fa-user"></i> Profile'.html_safe, edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to '<i class="fa fa-power-off"></i> Logout'.html_safe, destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

