<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h4>Category List</h4>
          </div>
          <div class="col-6">
            <%= link_to "<i class='fa fa-plus'></i> Add Category".html_safe, new_admin_category_path, class: 'btn btn-primary float-right'%>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- <th>S.No</th> -->
              <th>Name</th>
              <th>Description</th>
              <th>Has Childrens</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @categories.each_with_index do |category, index| %>
              <tr>
                <!-- <td><%#= index+1 %></td> -->
                <td><%= category.name %></td>
                <td><%= category.description %></td>
                <td><%= link_to "Childrens", admin_categories_url(parent_id: category) if category.children.present? %> </td>
                <td>
                  <%= link_to "<i class='fa fa-eye'></i>".html_safe, admin_category_path(category) %>&nbsp
                  <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_admin_category_path(category) %>&nbsp
                  <%= link_to "<i class='fa fa-trash'></i>".html_safe, admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <%= link_to "<i class='fa fa-plus'></i> Add Category".html_safe, new_admin_category_path, class: 'btn btn-primary'%>
      </div>
    </div>
  </div>
</div>




