<%= simple_form_for [:admin, @product] do |f| %>
  <%= f.error_notification %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.input :category_id, label: "Belongs under this category", collection: @categories_tree, selected: @product.category_id, include_blank: "Please select a Category" %>
            <%= f.input :title %>
            <%= f.input :sku, label: "SKU" %>
            <%= f.input :part_number, label: "Part Number" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.input :status, label: "Availability", collection: Product.statuses.keys.map {|key| [key.humanize, key]}, include_blank: false %>
            <%= f.input :price %>
            <%= f.input :discount %>
            <%= f.input :on_hand, label: "On Stock" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.input :product_image, label: "Image", as: :file %>
            <%= f.input :description, as: :text, input_html: {rows: 5} %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to "Back", admin_products_path, class: "btn btn-primary" %>
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      </div>
<% end %>
